<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-WOb8hrjhrhCg7CznBTdHztANCCjhtro</string>
	<key>GCM_SENDER_ID</key>
	<string>804340540166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bagajpark</string>
	<key>PROJECT_ID</key>
	<string>bagajpark-android</string>
	<key>STORAGE_BUCKET</key>
	<string>bagajpark-android.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804340540166:ios:cf8210401ceefdf6cf7487</string>
</dict>
</plist>